body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

#regenerateButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px; 
    height: 960px; 
}

.grid-square {
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.grid-square.hovered {
    background-color: #002FA7;
}
